.userTable {
  width: 100%;
  max-width: 1400px;
  border-collapse: collapse;
}

.userTable th,
.userTable td {
  padding: 10px;
  border: 1px solid var(--text-color);
  text-align: left;
  min-width: 50px; /* Минимальная ширина колонок */
}

.userTable th {
  cursor: pointer;
  user-select: none;
  position: relative;
}

.userTable th:hover {
  background-color: var(--bg-color-hover, #f0f0f0);
}

.userRow {
  cursor: pointer;
}

.userRow:hover {
  background-color: var(--bg-color-hover, #e0e0e0);
}

.resizeHandle {
  position: absolute;
  right: 0;
  top: 0;
  width: 5px;
  height: 100%;
  background-color: var(--text-color, #000000);
  cursor: col-resize;
  z-index: 10;
}

.resizeHandle:hover {
  background-color: var(--text-color-hover, #ff0000);
}